%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% The rest of the config is in apps/rebar/
{escript_main_app, rebar}.
{escript_name, rebar3}.
{escript_wrappers_windows, ["cmd", "powershell"]}.
{escript_comment, "%%Rebar3 3.19.0\n"}.
{escript_emu_args, "%%! +sbtu +A1\n"}.
%% escript_incl_priv is for internal rebar-private use only.
%% Do not use outside rebar. Config interface is not stable.
{escript_incl_priv, [{relx, "templates/*"},
                     {rebar, "templates/*"}]}.

{ profiles, [{systest, [
                {erl_opts, [debug_info, nowarn_export_all]},
                {ct_opts, [{dir, "systest"}]}
            ]}
]}.
