%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{deps, [{erlware_commons, "0.15.0"},
        {ssl_verify_hostname, "1.0.5"},
        {providers,       "1.4.1"},
        {getopt,          "0.8.2"},
        {bbmustache,      "1.0.3"},
        {relx,            "3.4.0"}]}.

{escript_name, rebar3}.
{escript_emu_args, "%%! +sbtu +A0\n"}.
%% escript_incl_extra is for internal rebar-private use only.
%% Do not use outside rebar. Config interface is not stable.
{escript_incl_extra, [{"_build/default/lib/relx/priv/templates/*", "."},
                      {"priv/templates/*", "."},
                      {"rebar/include/*", "."}]}.

{erl_opts, [{platform_define, "^[0-9]+", namespaced_types},
            no_debug_info,
            warnings_as_errors]}.

{dialyzer_plt_apps, [common_test, dialyzer, eunit, snmp]}.

%% Profiles
{profiles, [{test, [
                   {deps, [{meck, "0.8.2"}]},
                   {erl_opts, [debug_info]}
                   ]
            },

            {bootstrap, []},

            {dialyze, [{erl_opts, [debug_info]}]}
           ]}.

%% Overrides
{overrides, [{override, erlware_commons, [
                                         {erl_opts, [{platform_define, "^[0-9]+", namespaced_types},
                                                     {platform_define, "^R1[4|5]", deprecated_crypto},
                                                     no_debug_info,
                                                     warnings_as_errors]},
                                         {deps, []}, {plugins, []},
                                         {profiles, [{dialyze, [{erl_opts, [debug_info]}]}]}
                                         ]},
            {override, bbmustache, [
                                   {erl_opts, [no_debug_info,
                                              {platform_define, "^[0-9]+", namespaced_types}]},
                                   {deps, []}, {plugins, []},
                                   {profiles, [{dialyze, [{erl_opts, [debug_info]}]}]}
                                   ]},
            {override, getopt, [{erl_opts, [no_debug_info]},
                               {profiles, [{dialyze, [{erl_opts, [debug_info]}]}]}]},
            {override, providers, [{erl_opts, [no_debug_info]},
                                   {profiles, [{dialyze, [{erl_opts, [debug_info]}]}]}]},
            {override, relx, [{erl_opts, [{platform_define, "^[0-9]+", namespaced_types},
                                          {platform_define, "^R1[4|5]", deprecated_crypto},
                                          no_debug_info,
                                          warnings_as_errors]},
                              {profiles, [{dialyze, [{erl_opts, [debug_info]}]}]}
                             ]}
            ]}.
