%% Sample provided by @tothlac
{plugins, [
    {rebar_tidy_deps, ".*", {git, "https://github.com/tothlac/rebar3-tidy-deps-plugin.git"}},
    {rebar_alias, {git, "https://github.com/tsloughter/rebar_alias.git"}},
    rebar3_appup_plugin
]}.

{deps, [
    {hackney, {git, "https://github.com/benoitc/hackney.git", {tag, "1.10.1"}}}
 ]}.


%% Make work despite compat issues with strings and warnings
{overrides, [
  {override, rebar3_appup_plugin, [
    {erl_opts, [
        {platform_define, "^19", brutal_purge_fixed},
        {platform_define, "^2", brutal_purge_fixed},
        %% warnings_as_errors,
        debug_info
    ]}
  ]}
]}.
