%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
{erl_first_files,
 ["src/first_xrl.erl", "src/first_yrl.erl", "src/first_erl.erl"]}.

{deps, [foobar]}.

{erl_opts,
 [
  {i, "extra-include"},
  {src_dirs, ["src", "extra-src"]},
  {platform_define, "R13|R14", 'NO_CALLBACK_ATTRIBUTE'}
 ]}.
