{erl_opts, [debug_info]}.
{deps, [tzdata, hackney]}.
{plugins, [rebar_mix]}.
{provider_hooks, [
	{pre, [{compile, {mix, find_elixir_libs}}]},
	{post, [{compile, {mix, consolidate_protocols}}]}
]}.
{relx, [{release, { 'test_elixirtz', "0.1.0" },
	[test_elixirtz, hackney]},
	{dev_mode, false},
	{include_erts, false},
	{include_src, false},
	{extended_start_script, true}]
}.
