{variables, []}.
{template, "app.erl", "src/{{appid}}_app.erl"}.
{template, "otp_app.app.src", "src/{{appid}}.app.src"}.
{template, "rebar.config", "rebar.config"}.
{template, "gitignore", ".gitignore"}.
{template, "LICENSE", "LICENSE"}.
{template, "README.md", "README.md"}.
