{variables, []}.
{template, "mod.erl", "src/{{appid}}.erl"}.
{template, "otp_lib.app.src", "src/{{appid}}.app.src"}.
{template, "rebar.config", "rebar.config"}.
{template, "gitignore", ".gitignore"}.
{template, "LICENSE", "LICENSE"}.
{template, "README.md", "README.md"}.
