{variables, [{appid, "myapp"}
            ,{fsmid, "fsmid"}
            ,{copyright_year, "2014"}
            ,{copyright_holder, "Geoff Cant"}
            ,{author_name, "Geoff Cant"}
            ,{author_email, "nem@erlang.geek.nz"}
            ]}.
{template, "otp_fsm.erl", "src/{{appid}}_{{fsmid}}_fsm.erl"}.