{description, "Rebar3 plugin"}.
{variables, [
    {name, "myplugin", "Name of the plugin"},
    {desc, "A rebar plugin", "Short description of the plugin's purpose"}
]}.
{template, "plugin.erl.dtl", "src/{{name}}.erl"}.
{template, "otp_lib.app.src.dtl", "src/{{name}}.app.src"}.
{template, "rebar.config.dtl", "rebar.config"}.
{template, "gitignore.dtl", ".gitignore"}.
{template, "LICENSE.dtl", "LICENSE"}.
{template, "plugin_README.md.dtl", "README.md"}.
