{sys, [
       {lib_dirs, []},
       {rel, "{{nodeid}}", "1",
        [
         kernel,
         stdlib,
         sasl
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "{{nodeid}}"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, riak, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, include}]}
      ]}.

{rebar, [
         {empty_dirs, [
                       "log/sasl"
                      ]},

         {overlay, "overlay"}
         ]}.
