{sys, [
       {lib_dirs, []},
       {rel, "{{nodeid}}", "1",
        [
         kernel,
         stdlib,
         sasl
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "{{nodeid}}"},
       {profile, embedded},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},

       %% Including HiPE can cause issues generating your first upgrade.
       %% If you plan to distribute HiPE in your release remove the
       %% following line.
       {app, hipe, [{incl_cond, exclude}]},

       {app, sasl, [{incl_cond, include}]}
      ]}.

{target_dir, "{{nodeid}}"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/{{nodeid}}", "bin/{{nodeid}}"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/{{nodeid}}.cmd", "bin/{{nodeid}}.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
