{variables, [{nodeid, "mynode"}]}.
{template, "simplenode.reltool.config", "reltool.config"}.
{file, "simplenode.erl.script", "files/erl"}.
{file, "simplenode.nodetool", "files/nodetool"}.
{file, "simplenode.runner", "files/{{nodeid}}"}.
{file, "simplenode.app.config", "files/app.config"}.
{template, "simplenode.vm.args", "files/vm.args"}.
